@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: "Urbanist", serif;

}

@layer base {
  h2 {
    @apply leading-tight text-3xl font-semibold text-mainText mb-4;
  }

  h3 {
    @apply  text-2xl font-semibold text-mainText mb-4;
  }
}

@layer components {
  .wrapper {
    @apply max-w-[1080px] w-[80%] m-auto;
  } 
  .paragraph {
    @apply  text-secondaryText font-medium ;
  }

  .line {
    @apply w-full h-[1px] bg-[#E5E7EB];
  }
  .button{
    @apply bg-[#E9EAF8] text-[#747ED1] font-semibold rounded-full p-3 px-5 mt-5
  }
}

.header {
  background-image: url(assets/movie-bg.svg);
  background-size: cover;
}