@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: "Urbanist", serif;

}

@layer base {
  h2 {
    @apply leading-tight text-4xl font-semibold text-mainText mb-4;
  }

  h3 {
    @apply  text-2xl font-semibold text-mainText mb-4;
  }
}

@layer components {
  .wrapper {
    @apply max-w-[1080px] w-[80%] m-auto;
  } 
  .paragraph {
    @apply text-xl text-secondaryText;
  }

  .line {
    @apply w-full h-[1px] bg-[#E5E7EB];
  }
}

.header {
  background-image: url(assets/movie-bg.svg);
  background-size: cover;
}